<div ba-panel ba-panel-class="profile-page">
  <div class="panel-content">
    <h3 class="with-line">General Information</h3>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label for="inputFirstName" class="col-sm-3 control-label">Picture</label>

          <div class="col-sm-9">
            <div class="userpic">
              <div class="userpic-wrapper">
                <img ng-src="{{ picture }}" ng-click="uploadPicture()">
              </div>
              <i class="ion-ios-close-outline" ng-click="removePicture()" ng-if="!noPicture"></i>
              <a href class="change-userpic" ng-click="uploadPicture()">Change Profile Picture</a>
              <input type="file" ng-show="false" id="uploadFile" ng-file-select="onFileSelect($files)">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6"></div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label for="inputFirstName" class="col-sm-3 control-label">First Name</label>

          <div class="col-sm-9">
            <input type="text" class="form-control" id="firstName" placeholder="" ng-model="vm.data.firstname" >
          </div>
        </div>
        <div class="form-group row clearfix">
          <label for="fullName" class="col-sm-3 control-label">Full Name</label>

          <div class="col-sm-9">
            <input type="text" class="form-control" id="fullName" placeholder="" ng-model="vm.data.fullname"  >
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label for="inputFirstName" class="col-sm-3 control-label">Last Name</label>

          <div class="col-sm-9">
            <input type="text" class="form-control" id="lastName" placeholder="" ng-model="vm.data.lastname" >
          </div>
        </div>
        <div class="form-group row clearfix">
          <label for="inputLastName" class="col-sm-3 control-label">NIC Number</label>

          <div class="col-sm-9">
            <input type="text" class="form-control" id="nic" placeholder="" ng-model="vm.data.nic" >
          </div>
        </div>
      </div>
    </div>

    <h3 class="with-line">Change Password</h3>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label for="inputPassword" class="col-sm-3 control-label">Password</label>

          <div class="col-sm-9">
            <input type="password" class="form-control" id="inputPassword" placeholder="" ng-model="vm.data.inputpassword" >
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label for="inputConfirmPassword" class="col-sm-3 control-label">Confirm Password</label>

          <div class="col-sm-9">
            <input type="password" class="form-control" id="inputConfirmPassword" placeholder="" ng-model="vm.data.conformpassword">
          </div>
        </div>
      </div>
    </div>

    <h3 class="with-line">Contact Information</h3>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label for="inputEmail3" class="col-sm-3 control-label">Email</label>

          <div class="col-sm-9">
            <input type="email" class="form-control" id="inputEmail3" placeholder="" value="contact@akveo.com">
          </div>
        </div>
        <div class="form-group row clearfix">
          <label for="inputPhone" class="col-sm-3 control-label">Mobile</label>

          <div class="col-sm-9">
            <input type="text" class="form-control" id="inputPhone" placeholder="" value="+1 (23) 456 7890">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label for="inputLastName" class="col-sm-3 control-label">Address</label>

          <div class="col-sm-9">
            <input type="text" class="form-control" id="inputLastName" placeholder="" value="">
          </div>
        </div>
        <div class="form-group row clearfix">
          <label for="inputRoom" class="col-sm-3 control-label">Tel No</label>

          <div class="col-sm-9">
            <input type="text" class="form-control" id="inputRoom" placeholder="" value="303">
          </div>
        </div>
      </div>
    </div>

    <h3 class="with-line">Social Profiles</h3>

    <div class="social-profiles row clearfix">
      <div class="col-md-3 col-sm-4" ng-repeat="item in socialProfiles">

        <a class="sn-link" href ng-click="showModal(item)" ng-if="!item.href">
          <i class="socicon {{ item.icon }}"></i>
          <span>{{ item.name }}</span>
        </a>

        <a class="sn-link connected" href="{{ item.href }}" target="_blank" ng-if="item.href">
          <i class="socicon {{ item.icon }}"></i>
          <span>{{ item.name }}</span>
          <em class="ion-ios-close-empty sn-link-close" ng-mousedown="unconnect(item)"></em>
        </a>
      </div>
    </div>

    <h3 class="with-line">Future Mission and Goals</h3>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group row clearfix">
          <label for="goal" class="col-sm-2 control-label">state your goals:</label>

          <div class="col-sm-10">
              <textarea class="form-control" id="goal"
               value="goal">briefly state your goals and expectation form the internship............
              </textarea>
          </div>
        </div>
      </div>

    </div>


   <div class="widgets">

    <div class="row">
      <div class="col-md-12">
        <div ba-panel ba-panel-title="Familier Technoloiges" ba-panel-class="with-scroll">
          <div include-with-scope="app/pages/profile/techs.html"></div>
        </div>
      </div>
    </div>
  </div>


    </div>
    <button type="button" ng-click="vm.signIn()" class="btn btn-primary btn-with-icon save-profile">
      <i class="ion-android-checkmark-circle"></i>update profile
  </div>
</div>
