<div class="widgets">

    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-title="Form Wizard" ba-panel-class="with-scroll">
                <ba-wizard>
                    <ba-wizard-step title="General info"  form="vm.personalInfoForm">
                        <form name="vm.personalInfoForm" ng-submit="vm.showFrom()" novalidate>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group has-feedback"

                                         ng-class="{'has-error': vm.personalInfoForm.firstName.$invalid && (vm.personalInfoForm.firstName.$dirty || vm.personalInfoForm.$submitted)}">
                                        <label for="firstName">First Name</label>
                                        <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" ng-model="vm.generalInfo.firstName" required>
                                        <span class="help-block error-block basic-block">Required</span>
                                    </div>
                                    <div class="form-group" ng-class="{'has-error': vm.personalInfoForm.fullname.$invalid && (vm.personalInfoForm.fullname.$dirty || vm.personalInfoForm.$submitted)}">
                                        <label for="fullname">Full Name</label>
                                        <input type="text" class="form-control" id="fullname" name="fullname" placeholder="Fullname" ng-model="vm.generalInfo.fullname" required>
                                        <span class="help-block error-block basic-block">Required</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" ng-class="{'has-error': vm.personalInfoForm.LastName.$invalid && (vm.personalInfoForm.LastName.$dirty || vm.personalInfoForm.$submitted)}">
                                        <label for="lastName">Last Name</label>
                                        <input type="text" class="form-control" id="lastName" name="LastName" placeholder="Last Name"  ng-model="vm.generalInfo.LastName" required>
                                        <span class="help-block error-block basic-block">Required</span>
                                    </div>
                                    <div class="form-group"  ng-class="{'has-error': vm.personalInfoForm.nic.$invalid && (vm.personalInfoForm.nic.$dirty || vm.personalInfoForm.$submitted)}">
                                        <label for="nic">NIC Number</label>
                                        <input type="text" class="form-control" id="nic" name="nic" placeholder="NIC Number" ng-model="vm.generalInfo.nic" required>
                                        <span class="help-block error-block basic-block">Required</span>
                                    </div>
                                </div>


                            </div>
                        </form>
                    </ba-wizard-step>
                    <ba-wizard-step title="Contact Info" form="vm.contactInfoForm">
                        <form name="vm.contactInfoForm"  novalidate>
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group has-feedback"
                                       ng-class="{'has-error': vm.contactInfoForm.address.$invalid && (vm.contactInfoForm.address.$dirty || vm.contactInfoForm.$submitted)}">
                                      <label for="address">Address</label>
                                      <input type="text" class="form-control" id="address" name="address" placeholder="Address" ng-model="vm.contactInfo.address" required>
                                      <span class="help-block error-block basic-block">Required</span>
                                  </div>
                                  <div class="form-group" ng-class="{'has-error': vm.contactInfoForm.mobile.$invalid && (vm.contactInfoForm.mobile.$dirty || vm.contactInfoForm.$submitted)}">
                                      <label for="mobile">Mobile</label>
                                      <input type="mobile" class="form-control" id="mobile" name="mobile" placeholder="Mobile" ng-model="vm.contactInfo.mobile" required>
                                      <span class="help-block error-block basic-block">Required</span>
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-group" ng-class="{'has-error': vm.contactInfoForm.email.$invalid && (vm.contactInfoForm.email.$dirty || vm.contactInfoForm.$submitted)}">
                                      <label for="email">Email</label>
                                      <input type="email" class="form-control" id="email" name="email" placeholder="email"  ng-model="vm.contactInfo.email" required>
                                      <span class="help-block error-block basic-block">Required</span>
                                  </div>
                                  <div class="form-group"  ng-class="{'has-error': vm.contactInfoForm.contactHome.$invalid && (vm.contactInfoForm.contactHome.$dirty || vm.contactInfoForm.$submitted)}">
                                      <label for="contactHome">Contact Home</label>
                                      <input type="text" class="form-control" id="contactHome" name="contactHome" placeholder="Contact Home" ng-model="vm.contactInfo.contactHome" required>
                                      <span class="help-block error-block basic-block">Required</span>
                                  </div>
                              </div>
                          </div>
                        </form>
                    </ba-wizard-step>
                    <ba-wizard-step title="Edu Institude Info"  form="vm.eduInsInfoForm">
                        <form name="vm.eduInsInfoForm" novalidate>
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group has-feedback"
                                       ng-class="{'has-error': vm.eduInsInfoForm.instituteName.$invalid && (vm.eduInsInfoFormForm.instituteName.$dirty || vm.eduInsInfoForm.$submitted)}">
                                      <label for="instituteName">Institute Name</label>
                                      <input type="text" class="form-control" id="instituteName" name="instituteName" placeholder="Institute Name" ng-model="vm.eduInsInfo.instituteName" required>
                                      <span class="help-block error-block basic-block">Required</span>
                                  </div>
                                  <div class="form-group" ng-class="{'has-error': vm.eduInsInfoForm.eduContact.$invalid && (vm.eduInsInfoForm.eduContact.$dirty || vm.eduInsInfoForm.$submitted)}">
                                      <label for="instituteContact">Contact</label>
                                      <input type="text" class="form-control" id="eduContact" name="eduContact" placeholder="Institute Contact" ng-model="vm.eduInsInfo.eduContact" required>
                                      <span class="help-block error-block basic-block">Required</span>
                                  </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group has-feedback"
                                     ng-class="{'has-error': vm.eduInsInfoForm.instituteAddress.$invalid && (vm.eduInsInfoForm.instituteAddress.$dirty || vm.eduInsInfoForm.$submitted)}">
                                    <label for="instituteAddress">Address</label>
                                    <input type="text" class="form-control" id="instituteAddress" name="instituteAddress" placeholder="Institute Address" ng-model="vm.eduInsInfo.instituteAddress" required>
                                    <span class="help-block error-block basic-block">Required</span>
                                </div>

                              </div>
                          </div>
                        </form>
                    </ba-wizard-step>
                    <ba-wizard-step title="Internship Info">
                        <form name="vm.internshipInfoForm" novalidate>
                          <div class="row">
                              <div class="col-md-6">
                                <div class="form-group">
                                    <label for="category">Inrernship Category</label>
                                    <select class="form-control" title="Internship"  ng-model="vm.internshipInfo.category" selectpicker>
                                        <option selected>Internship</option>
                                        <option>In House Programe</option>
                                    </select>
                                </div>

                                <div class="form-group" ng-class="{'has-error': vm.internshipInfoForm.startDate.$invalid && (vm.internshipInfoForm.startDate.$dirty ||vm.internshipInfoForm.$submitted)}">
                                    <label for="startDate">Start Date</label>
                                    <input type="date" class="form-control" id="startDate" name="startDate" placeholder="Start Date"  ng-model="vm.internshipInfo.startDate" required>
                                    <span class="help-block error-block basic-block">Required</span>
                                </div>

                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                    <label for="company">Company</label>
                                    <select class="form-control" title="Company" ng-model="vm.internshipInfo.company" selectpicker>
                                        <option selected>99X Technology</option>
                                        <!-- <option>((XT-KYT))</option> -->
                                    </select>
                                </div>

                                  <div class="form-group"  ng-class="{'has-error':vm.internshipInfoForm.endDate.$invalid &&  vm.showFrom && (vm.internshipInfoForm.endDate.$dirty || vm.internshipInfoForm.endDate.$submitted)}">
                                      <label for="endDate">End Date</label>
                                      <input type="date" class="form-control" id="endDate" name="endDate" placeholder="End Date" ng-model="vm.internshipInfo.endDate"required>
                                      <span class="help-block error-block basic-block">Required</span>
                                  </div>
                              </div>
                          </div>
                        </form>
                    </ba-wizard-step>
                    <ba-wizard-step title="Finish">
                      </form>
                        <div class="row">
                          <button type="button" ng-click="vm.submitform()" class="btn btn-primary btn-with-icon save-profile">
                            <i class="ion-android-checkmark-circle"></i>Confirm
                          </button>
                        </div>
                      </form>
                    </ba-wizard-step>
                </ba-wizard>
            </div>
        </div>
    </div>

</div>
