<div class="widgets">

    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-title="Form Wizard" ba-panel-class="with-scroll">
                <ba-wizard>
                    <ba-wizard-step title="General info"  form="vm.generalInfoForm">
                        <form name="vm.personalInfoForm" ng-submit="vm.showFrom()" novalidate>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group has-feedback"
                                         ng-class="{'has-error': vm.personalInfoForm.username.$invalid && (vm.personalInfoForm.username.$dirty || vm.personalInfoForm.$submitted)}">
                                        <label for="firstName">First Name</label>
                                        <input type="text" class="form-control" id="firstName" name="firstName" placeholder="first Name" ng-model="vm.generalInfo.firstname" required>
                                        <span class="help-block error-block basic-block">Required</span>
                                    </div>
                                    <div class="form-group" ng-class="{'has-error': vm.personalInfoForm.email.$invalid && (vm.personalInfoForm.email.$dirty || vm.personalInfoForm.$submitted)}">
                                        <label for="exampleInputEmail1">Full Name</label>
                                        <input type="text" class="form-control" id="exampleInputEmail1" name="fullname" placeholder="Fullname" ng-model="vm.generalInfo.fullname" required>
                                        <span class="help-block error-block basic-block">Proper email required</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" ng-class="{'has-error': vm.personalInfoForm.username.$invalid && (vm.personalInfoForm.username.$dirty || vm.personalInfoForm.$submitted)}">
                                        <label for="lastName">Last Name</label>
                                        <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name"  ng-model="vm.generalInfo.lastname" required>
                                        <span class="help-block error-block basic-block">Required</span>
                                    </div>
                                    <div class="form-group"  ng-class="{'has-error': vm.personalInfoForm.username.$invalid && (vm.personalInfoForm.username.$dirty || vm.personalInfoForm.$submitted)}">
                                        <label for="nic">NIC Number</label>
                                        <input type="text" class="form-control" id="nic" name="nic" placeholder="NIC Number" ng-model="vm.generalInfo.nic" required>
                                        <span class="help-block error-block basic-block">Passwords should match</span>
                                    </div>
                                </div>


                            </div>
                        </form>
                    </ba-wizard-step>
                    <ba-wizard-step title="Contact Info" form="vm.contactInfoForm">
                        <form name="vm.contactInfoForm"  novalidate>
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group has-feedback"
                                       ng-class="{'has-error': vm.contactInfoForm.address.$invalid && (vm.contactInfoForm.address.$dirty || vm.contactInfoForm.$submitted)}">
                                      <label for="address">Address</label>
                                      <input type="text" class="form-control" id="address" name="address" placeholder="address" ng-model="vm.contactInfo.address" required>
                                      <span class="help-block error-block basic-block">Required</span>
                                  </div>
                                  <div class="form-group" ng-class="{'has-error': vm.contactInfoForm.mobile.$invalid && (vm.contactInfoForm.mobile.$dirty || vm.contactInfoForm.$submitted)}">
                                      <label for="mobile">Mobile</label>
                                      <input type="mobile" class="form-control" id="mobile" name="mobile" placeholder="mobile" ng-model="vm.contactInfo.mobile" required>
                                      <span class="help-block error-block basic-block">Required</span>
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-group" ng-class="{'has-error': vm.contactInfoForm.email.$invalid && (vm.contactInfoForm.email.$dirty || vm.contactInfoForm.$submitted)}">
                                      <label for="email">Email</label>
                                      <input type="email" class="form-control" id="email" name="email" placeholder="email"  ng-model="vm.contactInfo.email" required>
                                      <span class="help-block error-block basic-block">Required</span>
                                  </div>
                                  <div class="form-group"  ng-class="{'has-error': vm.contactInfoForm.contactHome.$invalid && (vm.contactInfoForm.contactHome.$dirty || vm.contactInfoForm.$submitted)}">
                                      <label for="contactHome">Contact Home</label>
                                      <input type="text" class="form-control" id="contactHome" name="contactHome" placeholder="Contact Home" ng-model="vm.contactInfo.contactHome" required>
                                      <span class="help-block error-block basic-block">Required</span>
                                  </div>
                              </div>
                          </div>
                        </form>
                    </ba-wizard-step>
                    <ba-wizard-step title="Edu Institude Info"  form="vm.eduInsInfoForm">
                        <form name="vm.eduInsInfoForm" novalidate>
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group has-feedback"
                                       ng-class="{'has-error': vm.eduInsInfoForm.instituteName.$invalid && (vm.eduInsInfoFormForm.instituteName.$dirty || vm.eduInsInfoForm.$submitted)}">
                                      <label for="instituteName">Name</label>
                                      <input type="text" class="form-control" id="instituteName" name="instituteName" placeholder="Name" ng-model="vm.eduInsInfo.instituteName" required>
                                      <span class="help-block error-block basic-block">Required</span>
                                  </div>
                                  <div class="form-group" ng-class="{'has-error': vm.eduInsInfoForm.eduContact.$invalid && (vm.eduInsInfoForm.eduContact.$dirty || vm.eduInsInfoForm.$submitted)}">
                                      <label for="instituteContact">Contact</label>
                                      <input type="text" class="form-control" id="eduContact" name="eduContact" placeholder="instituteContact" ng-model="vm.eduInsInfo.eduContact" required>
                                      <span class="help-block error-block basic-block">Required</span>
                                  </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group has-feedback"
                                     ng-class="{'has-error': vm.eduInsInfoForm.instituteAddress.$invalid && (vm.eduInsInfoForm.instituteAddress.$dirty || vm.eduInsInfoForm.$submitted)}">
                                    <label for="instituteAddress">Address</label>
                                    <input type="text" class="form-control" id="instituteAddress" name="instituteAddress" placeholder="Address" ng-model="vm.eduInsInfo.instituteAddress" required>
                                    <span class="help-block error-block basic-block">Required</span>
                                </div>

                              </div>
                          </div>
                        </form>
                    </ba-wizard-step>
                    <ba-wizard-step title="Internship Info">
                        <form class="form-horizontal" name="vm.internshipInfoForm" novalidate>
                          <div class="row">
                              <div class="col-md-6">
                                <div class="form-group">
                                    <label for="category">Category</label>
                                    <select class="form-control" title="Category"  ng-model="vm.internshipInfo.category" selectpicker>
                                        <option selected>Internship</option>
                                        <option>In House Programe</option>
                                    </select>
                                </div>

                                <div class="form-group" ng-class="{'has-error': vm.internshipInfoForm.startDate.$invalid && (vm.internshipInfoForm.startDate.$dirty ||vm.internshipInfoForm.$submitted)}">
                                    <label for="startDate">Start Date</label>
                                    <input type="date" class="form-control" id="startDate" name="startDate" placeholder="Start Date"  ng-model="vm.internshipInfo.startDate" required>
                                    <span class="help-block error-block basic-block">Required</span>
                                </div>

                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                    <label for="company">Company</label>
                                    <select class="form-control" title="Category" ng-model="vm.internshipInfo.company" selectpicker>
                                        <option selected>99XT-IT</option>
                                        <option>((XT-KYT))</option>
                                    </select>
                                </div>

                                  <div class="form-group"  ng-class="{'has-error':vm.internshipInfoForm.endDate.$invalid &&  vm.showFrom && (vm.internshipInfoForm.endDate.$dirty || vm.internshipInfoForm.endDate.$submitted)}">
                                      <label for="endDate">End Date</label>
                                      <input type="date" class="form-control" id="endDate" name="endDate" placeholder="End Date" ng-model="vm.internshipInfo.endDate"required>
                                      <span class="help-block error-block basic-block">Required</span>
                                  </div>




                              </div>


                          </div>
                        </form>
                    </ba-wizard-step>
                    <ba-wizard-step title="Finish">
                    </form>
                      <div>
                        <button type="button" ng-click="vm.submitform()" class="btn btn-primary btn-with-icon save-profile">
                          <i class="ion-android-checkmark-circle"></i>Conform
                        </div>
                        </form>
                    </ba-wizard-step>
                </ba-wizard>
            </div>
        </div>
    </div>

</div>
