<div ba-panel ba-panel-class="profile-page">
    <div class="panel-content">
        <h3 class="with-line">Change Password</h3>

        <form name="profile" novalidate>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row clearfix">
                        <label for="useremail" class="col-sm-3 control-label">User Email</label>

                        <div class="col-sm-9" ng-class="{'has-error': profile.useremail.$invalid && (profile.useremail.$dirty || profile.useremail.$touched)}">
                            <input type="text" class="form-control" id="useremail" name="useremail" placeholder="" ng-model="data.useremail" required>
                            <span class="help-block error-block basic-block">Required</span>
                        </div>
                    </div>

                    <div class="form-group row clearfix">
                        <label for="newPassword" class="col-sm-3 control-label">New Password</label>

                        <div class="col-sm-9" ng-class="{'has-error': profile.newPassword.$invalid && (profile.newPassword.$dirty || profile.newPassword.$touched) }">
                            <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="" ng-model="data.newPassword" required>
                            <span class="help-block error-block basic-block">Required</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row clearfix">
                        <label for="currentPassword" class="col-sm-3 control-label">Current Pwd</label>

                        <div class="col-sm-9" ng-class="{'has-error': profile.currentPassword.$invalid && (profile.currentPassword.$dirty || profile.currentPassword.$touched) }">
                            <input type="password" class="form-control" id="currentPassword" name="currentPassword" placeholder="" ng-model="data.currentPassword" required>
                            <span class="help-block error-block basic-block">Required</span>
                        </div>
                    </div>
                    <div class="form-group row clearfix">
                        <label for="confirmPassword" class="col-sm-3 control-label">Confirm Pwd</label>

                        <div class="col-sm-9" ng-class="{'has-error': !arePersonalInfoPasswordsEqual() && (profile.confirmPassword.$dirty || profile.confirmPassword.$touched)}">
                            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="" ng-model="data.confirmPassword" required>
                            <span class="help-block error-block basic-block">Passwords should match</span>
                        </div>
                    </div>
                </div>
            </div>

        </form>


    </div>

    <button type="button" ng-click="check()" class="btn btn-primary btn-with-icon save-profile">
      <i class="ion-android-checkmark-circle"></i>Chnage Password</button>
    <!-- <button type="button" ng-click="getDetails()" class="btn btn-primary btn-with-icon save-profile">
        <i class="ion-android-checkmark-circle"></i>get</button> -->
</div>
</div>
