<div class="widgets">
    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-title="Form Wizard" ba-panel-class="with-scroll">
                <ba-wizard>
                    <ba-wizard-step title="General info" form="data.personalInfoForm">
                        <form name="data.personalInfoForm" novalidate>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group has-feedback" ng-class="{'has-error': data.personalInfoForm.firstName.$invalid && (data.personalInfoForm.firstName.$dirty || data.personalInfoForm.$submitted)}">
                                        <label for="firstName">First Name</label>
                                        <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" ng-model="data.generalInfo.firstName"
                                            required>
                                        <span class="help-block error-block basic-block">Required</span>
                                    </div>
                                    <div class="form-group" ng-class="{'has-error': data.personalInfoForm.fullName.$invalid && (data.personalInfoForm.fullName.$dirty || data.personalInfoForm.$submitted)}">
                                        <label for="fullName">Full Name</label>
                                        <input type="text" class="form-control" id="fullName" name="fullName" placeholder="Full Name" ng-model="data.generalInfo.fullName"
                                            required>
                                        <span class="help-block error-block basic-block">Required</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" ng-class="{'has-error': data.personalInfoForm.LastName.$invalid && (data.personalInfoForm.LastName.$dirty || data.personalInfoForm.$submitted)}">
                                        <label for="lastName">Last Name</label>
                                        <input type="text" class="form-control" id="lastName" name="LastName" placeholder="Last Name" ng-model="data.generalInfo.LastName"
                                            required>
                                        <span class="help-block error-block basic-block">Required</span>
                                    </div>
                                    <div class="form-group" ng-class="{'has-error': data.personalInfoForm.nic.$invalid && (data.personalInfoForm.nic.$dirty || data.personalInfoForm.$submitted)}">
                                        <label for="nic">NIC Number</label>
                                        <input type="text" class="form-control" id="nic" name="nic" placeholder="NIC Number" ng-model="data.generalInfo.nic" required>
                                        <span class="help-block error-block basic-block">Required</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" ng-init="data.generalInfo.gender='male'">
                                        <label for="lastName">Gender</label>
                                        <br/>
                                        <label for="male">Male<input type="radio" class="form-control" id="male" name="Gender" value="male" ng-model="data.generalInfo.gender"
                                            checked="checked"></label> &nbsp;&nbsp;&nbsp;
                                        <label for="female">Female<input type="radio" class="form-control" id="female" name="Gender" value="female" ng-model="data.generalInfo.gender"
                                            ></label> 
                                    </div>
                                </div>
                            </div>
                        </form>
                    </ba-wizard-step>
                    <ba-wizard-step title="Contact Info" form="data.contactInfoForm">
                        <form name="data.contactInfoForm" novalidate>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group has-feedback" ng-class="{'has-error': data.contactInfoForm.address.$invalid && (data.contactInfoForm.address.$dirty || data.contactInfoForm.$submitted)}">
                                        <label for="address">Address</label>
                                        <input type="text" class="form-control" id="address" name="address" placeholder="Address" ng-model="data.contactInfo.address"
                                            required>
                                        <span class="help-block error-block basic-block">Required</span>
                                    </div>
                                    <div class="form-group" ng-class="{'has-error': data.contactInfoForm.mobile.$invalid && (data.contactInfoForm.mobile.$dirty || data.contactInfoForm.$submitted)}">
                                        <label for="mobile">Mobile</label>
                                        <input type="number" class="form-control" id="mobile" name="mobile" placeholder="Mobile" ng-model="data.contactInfo.mobile"
                                            required>
                                        <span class="help-block error-block basic-block">Required</span>
                                        <!-- <label>Click me: <input type="checkbox" ng-model="checked" ng-init="checked=true" /></label> -->
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" ng-class="{'has-error': data.contactInfoForm.email.$invalid && (data.contactInfoForm.email.$dirty || data.contactInfoForm.$submitted)}">
                                        <label for="email">Email</label>
                                        <input type="email" class="form-control" id="email" name="email" placeholder="email" ng-model="data.contactInfo.email" required>
                                        <span class="help-block error-block basic-block">Required a proper email</span>
                                    </div>
                                    <div class="form-group" ng-class="{'has-error': data.contactInfoForm.contactHome.$invalid && (data.contactInfoForm.contactHome.$dirty || data.contactInfoForm.$submitted)}">
                                        <label for="contactHome">Contact Home</label>
                                        <input type="number" class="form-control" id="contactHome" name="contactHome" placeholder="Contact Home" ng-model="data.contactInfo.contactHome"
                                            required>
                                        <span class="help-block error-block basic-block">Required</span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </ba-wizard-step>
                    <ba-wizard-step title="Finish">
                        <form class="form-horizontal" name="data.finish" novalidate>

                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="with-line">Summary</h3>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            First Name: {{data.generalInfo.firstName}}
                                        </div>
                                        <div class="form-group">
                                            Last Name: {{data.generalInfo.LastName}}
                                        </div>
                                        <div class="form-group">
                                            Full Name: {{data.generalInfo.fullName}}
                                        </div>
                                        <div class="form-group">
                                            NIC: {{data.generalInfo.nic}}
                                        </div>
                                        <div class="form-group">
                                            Gender: {{data.generalInfo.gender}}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">

                                            Address: {{data.contactInfo.address}}
                                        </div>
                                        <div class="form-group">
                                            Mobile: {{data.contactInfo.mobile}}
                                        </div>
                                        <div class="form-group">
                                            E-mail: {{data.contactInfo.email}}
                                        </div>
                                        <div class="form-group">
                                            Tel : {{data.contactInfo.contactHome}}
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" ng-click="submitform()" class="btn btn-primary btn-with-icon save-profile">
                                          <i class="ion-android-checkmark-circle"></i>Confirm
                                        </button>
                                </div>
                        </form>
                    </ba-wizard-step>
                </ba-wizard>
                </div>
            </div>
        </div>

    </div>