<div class="ba-panel">
    <div class="panel-content">
        <div class="row">
            <div class="col-md-4" style="z-index:1">
                <h3 class="with-line">To Do</h3>
                <div class="light-text task-panel" zoom-in="" ba-panel-blur="">
                    <div class="">
                        <uib-accordion>
                            <uib-accordion-group ng-repeat='task in user.tasks' ng-if="task.status=='ToDo'" ng-show="task.id" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}"
                                ng-model="tasks" jqyoui-draggable="{index: {{$index}}, animate: true, placeholder: 'keep'}" class=""
                                style="z-index:2;width:100%">
                                <uib-accordion-heading>
                                    {{task.id}}
                                </uib-accordion-heading>
                                <button type="button" class="btn btn-success btn-with-icon pull-right" ng-click="startTask(task.id)">Start</button>
                                <b>Comments:</b>
                                <div ng-repeat='comment in task.comments'>
                                    {{comment.text}} {{comment.timestamp | date:'dd/MM/yyyy h:mm:ss a'}}
                                </div>
                                <form>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="comment" placeholder="Start writing a comment..." ng-model="commentTodo">
                                        <button type="button" class="btn btn-success btn-with-icon pull-right" ng-show="commentTodo" ng-click="addComment(task.id,commentTodo);commentTodo=undefined;">comment</button>
                                    </div>
                                </form>
                            </uib-accordion-group>
                        </uib-accordion>
                    </div>
                </div>

            </div>
            <div class="col-md-4" style="z-index:1">
                <h3 class="with-line">In-Progress</h3>
                <div class="light-text task-panel" zoom-in="" ba-panel-blur="">
                    <div class="">
                        <uib-accordion>
                            <uib-accordion-group ng-repeat='task in user.tasks' ng-if="task.status=='InProgress'" ng-show="task.id" data-drag="true"
                                data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" ng-model="tasks" jqyoui-draggable="{index: {{$index}}, animate: true, placeholder: 'keep'}"
                                class="" style="z-index:2;width:100%">
                                <uib-accordion-heading>
                                    {{task.id}}
                                </uib-accordion-heading>
                                <button type="button" class="btn btn-success btn-with-icon pull-right" ng-click="finishTask(task.id)">Done</button>
                                <b>Started Date:</b> {{task.startedDate | date:'dd/MM/yyyy'}} <br/>
                                <b>Comments:</b>
                                <div ng-repeat='comment in task.comments'>
                                    {{comment.text}} {{comment.timestamp | date:'dd/MM/yyyy h:mm:ss a'}}
                                </div>
                                <form>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="comment" placeholder="Start writing a comment..." ng-model="commentTodo">
                                        <button type="button" class="btn btn-success btn-with-icon pull-right" ng-show="commentTodo" ng-click="addComment(task.id,commentTodo);commentTodo=undefined;">comment</button>
                                    </div>
                                </form>
                            </uib-accordion-group>
                        </uib-accordion>
                    </div>
                </div>

            </div>
            <div class="col-md-4" style="z-index:1">
                <h3 class="with-line">Done</h3>
                <div class="light-text task-panel" zoom-in="" ba-panel-blur="">
                    <div class="">
                        <uib-accordion>
                            <uib-accordion-group ng-repeat='task in user.tasks' ng-if="task.status=='Done'" ng-show="task.id" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}"
                                ng-model="tasks" jqyoui-draggable="{index: {{$index}}, animate: true, placeholder: 'keep'}" class=""
                                style="z-index:2;width:100%">
                                <uib-accordion-heading>
                                    {{task.id}}
                                </uib-accordion-heading>
                                <b>Started Date:</b> {{task.startedDate}} <br/>
                                <b>Finished Date:</b> {{task.finishedDate}} <br/>
                                <b>Comments:</b>
                                <div ng-repeat='comment in task.comments'>
                                    {{comment.text}} {{comment.timestamp | date:'dd/MM/yyyy h:mm:ss a'}}
                                </div>
                                <form>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="comment" placeholder="Start writing a comment..." ng-model="commentTodo">
                                        <button type="button" class="btn btn-success btn-with-icon pull-right" ng-show="commentTodo" ng-click="addComment(task.id,commentTodo);commentTodo=undefined;">comment</button>
                                    </div>
                                </form>
                            </uib-accordion-group>
                        </uib-accordion>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>