<div class="ba-panel">
    <div class="panel-content" ng-controller="ViewTasksPageCtrl">
        <div class="row">
            <div class="col-md-5" style="z-index:1">
                <h3 class="with-line">Tasks List</h3>


                <div class="light-text task-panel" zoom-in="" ba-panel-blur="">

                    <div class="">
                        <uib-accordion>
                            <uib-accordion-group ng-repeat='item in list1' ng-show="item.id" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" ng-model="list1" jqyoui-draggable="{index: {{$index}}, animate: true, placeholder: 'keep'}" class="" style="z-index:2;width:100%"
                                heading={{item.id}}>
                            </uib-accordion-group>
                        </uib-accordion>
                    </div>
                </div>

            </div>

            <div class="col-md-6 col-md-offset-1" style="z-index:0">
                <h3 class="with-line">Your Plan</h3>

                <div class="" zoom-in="" ba-panel-blur="">

                    <div data-drop="true" ng-model='list4' jqyoui-droppable="{multiple:false}" class="my-tasks-list">
                        <uib-accordion>
                            <uib-accordion-group ng-repeat="item in list4 track by $index" ng-show="item.id" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" ng-model="list4" jqyoui-draggable="{index: {{$index}},animate:true}" class="task-item task-panel"
                                panel-class="bootstrap-panel accordion-panel panel-default" style="width:100%">
                                <uib-accordion-heading>
                                    {{item.id}}
                                    </button>
                                </uib-accordion-heading>

                                <div>
                                    <div class="col-md-4">
                                        <div class="input-group" moment-picker="item.start" format="YYYY-MM-DD">
                                            <span class="input-group-addon">
                                          <i class="ion-calendar"></i>
                                        </span>
                                            <input class="form-control" placeholder="Start Date" ng-model="item.start" ng-click="dd()" ng-model-options="{ updateOn: 'blur' }">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="input-group" moment-picker="item.end" format="YYYY-MM-DD">
                                            <span class="input-group-addon">
                                          <i class="ion-calendar"></i>
                                        </span>
                                            <input class="form-control" placeholder="End Date" ng-model="item.end" ng-click="dd()" ng-model-options="{ updateOn: 'blur' }">
                                        </div>

                                    </div>

                                </div>
                                <button type="button" class="btn btn-danger btn-with-icon pull-right" ng-click="delete(item)"><i class="ion-close-round"></i>Remove</button>
                            </uib-accordion-group>
                        </uib-accordion>
                        <div class="placeholder" ng-hide="hideMe()">Add your plans here</div>
                    </div>
                </div>
                <div class="">
                    <button type="button" ng-click="savetasks()" class="btn btn-success btn-with-icon"><i class="ion-android-checkmark-circle"></i>Save</button>
                </div>
            </div>

        </div>
    </div>
</div>
